<settings version="2">
    <setting id="last_modified">1769325003.942374</setting>
    <setting id="last_check">1769325004.0865831</setting>
    <setting id="update_declined_at" default="true">0.0</setting>
    <setting id="version">999.6.1+matrix.1</setting>
    <setting id="update_frequency" default="true">31</setting>
    <setting id="temp_path" default="true">special://masterprofile/addon_data/script.module.inputstreamhelper</setting>
    <setting id="backups" default="true">4</setting>
    <setting id="disabled" default="true">false</setting>
    <setting id="disabled_warning" default="true" />
    <setting id="image_url">https://dl.google.com/dl/edgedl/chromeos/recovery/chromeos_14092.77.0_veyron-fievel_recovery_stable-channel_fievel-mp.bin.zip</setting>
    <setting id="label10" default="true" />
    <setting id="label16" default="true" />
    <setting id="label22" default="true" />
    <setting id="label4" default="true" />
</settings>
